<h1>Pages#home</h1>
<p> Welcome to Winning Digital Blog ! latest Tech News for young Tech Leaders </p>


<div id="services ">
          <div class="service">
            <h2> service one  web development </h2> 
            <p> we build robust and scalable web application suitable for your needs </p>
          </div>
          <div class="service">
              <h2> service two  technical consulting  </h2> 
              <p> we build robust and scalable web application suitable for your needs </p>
            </div>
          <div class="service">
            <h2> service three :   cloud development </h2> 
            <p> we build robust and scalable web application suitable for your needs </p>
          </div>
  </div>
